# Python / Django
*.pyc
__pycache__/
venv/
*.egg-info/

# İşletim Sistemi (macOS)
.DS_Store

# Veritabanı (SQLite)
db.sqlite3

# Sırlar (ÇOK ÖNEMLİ)
# Eğer settings.py dosyanızda şifreleriniz varsa,
# bu satırı ekleyin. Ama bu, projenin başka yerde
# çalışmasını zorlaştırır. (Bizim şimdiki projemiz
# için en güvenli yol budur.)
# settings.py